.plansWrapper {
  height: 170vh;
  width: 100vw;
  background-image: url(../../public/assets/plans_bg.png);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}

.plansFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60px;
  margin-bottom: 40px;
  color: whitesmoke;
}

.main {
  padding-bottom: 40px;
}

.margin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-left: 30px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.span1 {
  font-size: 14px;
}

.logo {
  font-size: 1.5rem;
}

.logoSpan {
  color: blueviolet;
}

.logoutButton {
  cursor: pointer;
  font-size: 20px;
}

.main {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: whitesmoke;
}

.mainMargin {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 40px 40px;
  /* background-color: azure; */
  background-image: linear-gradient(rgb(88, 195, 214), rgb(8, 42, 87));
  /* filter: blur(20px); */
  transform: translateY(10px) scale(1.1);
  mix-blend-mode: color-dodge;
  box-shadow: rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow: rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow: rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.list {
  display: flex;
  align-items: center;
  padding: 6px 0px;
}

.productFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* margin-bottom: 40px; */
}

.radio {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

.productName {
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
}

.push {
  text-align: center;
  padding-bottom: 20px;
  color: rgb(72, 255, 194);
}

.subscribe {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  background-color: rgb(75, 40, 255);
}

.subscribeNone {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  background-color: rgb(17, 9, 60);
}
