.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.back {
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.backIcon {
  height: 22px;
  width: 22px;
  position: relative;
  top: 3px;
}

.heading {
  display: flex;
  height: 100%;
  align-items: center;
}

.flex {
  width: 100%;
}
.h1 {
  text-align: center;
}

.h3 {
  text-align: center;
}

.div1 {
  text-align: center;
  font-size: 18px;
  color: gray;
  font-weight: 400;
}
