.login {
  width: 100vw;
  background-image: url("../public/assets/login.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.h1 {
  font-size: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.label .input {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding-left: 45px;
  margin: 10px 0;
  background: rgba(60, 60, 60, 0.4);
  outline: none;
}
.input::-webkit-input-placeholder {
  color: #fff;
}

.bx {
  position: relative;
  top: 46px;
  left: 17px;
  color: #fff;
}

.inputError {
  font-size: 12px;
  color: rgb(255, 72, 0);
  font-weight: 500;
}

.button {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.div1 {
  color: aliceblue;
  cursor: pointer;
}

.a {
  color: rgb(92, 255, 214);
}
